
/*头部*/
.swiper7 #tou{
    width: 100%;
    height: 336px;
}
.swiper7 #tou h1{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 3px;
    color: inherit;
    font-weight:inherit  ;
}
.swiper7 #tou h2{
    margin-top: 5px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #252b3a;
    text-align: center;
    font-weight:inherit  ;
}
.swiper7 #tou .sm {
    width:100%;
    height: 99px;



}
.swiper7 #tou .xm{
    width: 100%;
    height: 256px;
}
.xm_1{
    width: 100%;
    height: 158px;
}
.xm_1 ul {
    width: 1200px;
    height: 158px;
    margin: 0 auto;
}
.xm_1 .xm_2 li{
    width: 120px;
    float: left;
    padding-left: 25px;
    margin-top: 30px;
}
.xm_1 .xm_2 li img{
    height: 86px;
    width: 86px;
    margin-left: 20px;
}
.xm_1 .xm_2 li p{
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
/*中间*/
#zho{
    height: 250px;
    width: 100%;
    position: relative;
    /*background: red;*/

}
#zho {
    width: 100%;
    height: 225px;
    /*background: yellow;*/
    /*z-index: 1;*/
}
#zho .zho_shang {
    width: 100%;
    height: 150px;
    background: url('../img/xm.jpg') no-repeat;
    background-size: 120%;
    z-index: 0;
    position: relative;
}
#zho .zho_shang .zho_shang_1{
    width: 632px;

    position: relative;
    z-index: 2;
    max-width: 632px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#zho .zho_shang .zho_shang_1 P {
    position: absolute;
    width: 361.483px;
    top: 50%;
    left: 0;
    margin-top: -20px;
    font-size: 28px;
    line-height: 40px;
    color: #fff;

}
#zho .zho_shang .zho_shang_1 a{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    background-color: #f66f6a;
    color: #fff;
    padding:0 40px 0 40px;
    border: 1px solid #f66f6a;
    height: 48px;
    text-decoration: none;
    font-size: 18px;
    line-height: 46px;

}
#zho .zho_shang .zho_shang_1 .fu :hover {
    box-shadow: 0 8px 16px rgba(246, 111, 106, 0.5);
}
#zho .zho_xiang{
    width: 100%;
    height: 100px;
    background: #393a41;
    color: #c3c5c6;

}
#zho .zho_xiang ul{
    width: 1180px;
    height:100px ;
    /*margin-left: 90px;*/
    margin: 0 auto;
    /*background: red;*/
}
#zho .zho_xiang ul li{
   width: 196px;
    height: 100%;
    float: left;

}
.zho_xiang ul>li img{
    padding-top: 30px;
}
.zho_xiang ul>li a{
    position: relative;
    top: 20px;
    left: 0;
    text-align: center;
    display: inline-block;
}
.zho_xiang ul>li a h2{
    position: absolute;
    left: 10px;
    top: -40px;
    font-size: 18px;
    color: #fff;
}
.zho_xiang ul>li span{
    position: relative;
    top: -30px;
    display: block;
    color: #CCCCCC;
    left: 10px;
    font-size: 14px;
}
/*尾部*/
#wei{
    width: 100%;
    height: 415px;
    background: #3D3E49;
}
#wei .wei_shang{
    width: 100%;
    height: 410px;
    /*background: yellow;*/
}
#wei .wei_shang .wei_shang_zho{
    width: 1200px;
    height: 302px;
    /*background: blue;*/
    /*margin: 0 auto;*/
    position: relative;

    max-width: 1200px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;

}
#wei .wei_shang .wei_shang_zho .wei_s_zuo{
    width: 880px;
    height: 302px;
    /*background: purple;*/
    display: inline-block;

}
#wei .wei_shang .wei_shang_zho .wei_s_zuo dl{
    float: left;
    width: 25%;
    padding-right: 10px;
    font-size: 14px;

}
#wei .wei_shang .wei_shang_zho .wei_s_zuo dl dt{
    margin-bottom: 20px;
    line-height: 18px;
    color: #fff;

}
#wei .wei_shang .wei_shang_zho .wei_s_zuo dl dd{
    font-size: 12px;
    line-height: 24px;

}
#wei .wei_shang .wei_shang_zho .wei_s_zuo dl dd a{
    color: #CCCCCC;
    text-decoration: none;
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_1{
    width: 210px;
    height: 254px;
    /*background: red;*/
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_2{
    width: 210px;
    height: 134px;
    /*background: yellow;*/
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_3{
    width: 210px;
    height: 230px;
    /*background: black;*/
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_4{
    width: 210px;
    height: 237px;
    /*background: slateblue;*/
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_4 .split-line{
    max-width: 120px;
    border-top: solid 1px #666;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .5;
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_5{
    font-size: 12px;
    clear: both;
    overflow: hidden;
    padding-top: 30px;
    color: #f7f7f7;
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_5 span{
    display: inline-block;
    margin-right: 40px;
    color: white;
}
#wei .wei_shang .wei_shang_zho .wei_s_zuo .z_5 a{
    color: #CCCCCC;
    margin-right: 24px;
    text-decoration: none;
}
#wei .wei_shang .wei_shang_zho .wei_s_you{
    width: 308px;
    height:286px ;
    float: right;
    display: inline-block;
    border-left: 1px solid #666;
    /*background: red;*/

}
.wei_s_you {
    position: relative;
}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1{
    width: 280px;
    height: 286px;


}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1 .wei_s_you_sang{
    width: 257px;
    height: 160px;

    position: absolute;
    right: 0;
}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1 .wei_s_you_sang >p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  left: 10px;
    top: 0;
}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1 .wei_s_you_sang >span{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    color: #fff;

}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1 .wei_s_you_sang ul{
    width: 200px;
    margin-left: 10px;

}
.wei_s_you_sang ul>li{
    float: left;
    margin-right: 30px;
    font-size: 12px;
    color: #CCCCCC;
    margin-top: 6px;

}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1  .wei_s_you_xia{

    width: 256px;
    height: 126px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1  .wei_s_you_xia>p{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    margin-left: 0;


}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1  .wei_s_you_xia>span{
    display: inline-block;
    font-size: 12px;
    margin-left: 0;
    color: #CCCCCC;
    width: 78px;
}
#wei .wei_shang .wei_shang_zho .wei_s_you .wei_s_you_1  .wei_s_you_xia>img{

    width: 70px;
    height: 70px;
    bottom: 0;
    margin-right: 8px;
    margin-top: 8px;
}
#wei .wei_xiang {
    width: 100%;
    height: 62px;
    background: #3D3E49;

}

#wei .wei_xiang .da{
    width: 1200px;
    height: 62px;
    margin: 0 auto;
}
.wei_xiang .da_1{
    width: 40%;
    float: right;
}
.wei_xiang  .da_1 ul{
    width:500px;
    margin: 0 auto;
}
.wei_xiang .da_1 ul li{
    height: 12px;
    color: #CCCCCC;
    float: left;
    margin-left:10px;
    font-size: 12px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    line-height: 12px;
}

#wei .wei_xiang  .footer-copyright{
    height: 30px;
}
#wei .wei_xiang  .footer-copyright span{
    font-size: 12px;
    display: inline-block;
    color: #CCCCCC;
}
.footer-record{
    margin-top: 6px;
    height: 62px;
}
.footer-record span{
    color: #CCCCCC;
    font-size: 12px;
}
 .footer-record img{
    width: 16px;
    height: 16px;
}



