@charset "UTF-8";

body {
    min-width: 1024px;
    width: 100%;
}

.clear-fix {
    *zoom: 1;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.arrow {
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-top: solid 1px;
    border-right: solid 1px;
    transform: rotate(45deg);
}

.new {
    display: inline-block;
    width: 28px;
    height: 12px;
    margin: -2px -28px 0 10px;
    background: url('../img/new.svg') center no-repeat;
    vertical-align: middle;
    font-size: 0;
}

.dropdown {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
}

.dropdown>div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.dropdown .intro {
    padding: 20px 66px;
    background-color: #3a393a;
}
.dropdown .intro-logo {
    width: 66px;
    height: 20px;
    background-position: 0 0;
}
.dropdown .intro a {
    color: #fff;
    font-size: 12px;
}
.dropdown .intro li {
    float: left;
    margin-left: 30px;
}

.dropdown .items {
    background-color: #222;
    padding: 0 66px;
    overflow-y: auto;
}

.dropdown .items .title {
    padding: 15px 0;
}

.dropdown .items .title a {
    font-size: 14px;
    color: #fff;
    height: 20px;
    line-height: 20px;
}
.dropdown .items a {
    font-size: 12px;
    color: #c3c5c6;
}

.dropdown .items .row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.dropdown .items .row>li {
    padding: 0 50px;
    width: 20%;
}

.dropdown .items .row ul {
    padding-bottom: 20px;
}
.dropdown .items .row ul li {
    height: 25px;
    line-height: 25px;
}